{{define "footer"}}
	<div id="footer">
		<div class="container">
			<p class="text-muted credit">&copy;2014 <strong><span style="color: #5C4B51;">T</span><span style="color: #8CBEB2;">A</span><span style="background-color: #f0ad4e; color: #ffffff;"> I </span><span style="color: #A5C88F;">L</span><span style="color: #A5C88F;">L</span><span style="color: #EF847B;">A</span></strong>
			&middot; <a href="/terms">Terms</a> &middot; <a href="/privacy">Privacy & Cookies</a></p>
		</div>
	</div>
  </body>
</html>
{{end}}