{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<meta name="description" content="Tailla UK Chat is a place where you can meet new friends and have some fun" />
	<meta name="keywords" content="chat, omegle, chat roulette, go, golang, mgo, mongo, goji, microframework, gorilla, sessions, mvc">
	<title>{{.Title}}</title>

	<link href="/assets/favicon.ico" rel="shortcut icon" />
	<!-- Bootstrap -->
	<link href="/assets/css/custom-bootstrap.css" rel="stylesheet">
	<!-- Custom Style -->
	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="/assets/support/skype/emoticons.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.0/parsley.min.js"></script>    
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>	
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
	<script src="/assets/js/emoticons.js"></script>	
	<script src="/assets/js/tailla.js"></script>
	<script src="/assets/js/validator-min.js"></script>
</head>
<body>	
{{end}}