{{define "slogan"}}
<div class="well clearfix lead">
<a  href="/" title="Tailla"><strong><span style="color: #5C4B51;">T</span><span style="color: #8CBEB2;">A</span><span style="background-color: #f0ad4e; color: #ffffff;"> I </span><span style="color: #A5C88F;">L</span><span style="color: #A5C88F;">L</span><span style="color: #EF847B;">A</span></strong></a> is a place where you can meet new friends and have some fun chatting and sharing pictures. When you click <em>"Let's chat!"</em>, we will pick someone to chat for you. You can stop the chat at any time and you are kept anonymous unless you decide to share your details.
</div>
{{end}}
