{{define "terms"}}
<div class="well">
	<strong>By using Tailla you accept following terms</strong>: 
	<p/>
	<ul>
		<li>You must be over 18 years old</li>
		<li>You will not transmit nudity, sexually harass anyone, publish other peoples' private information, make statements that defame or libel anyone</li>
		<li>You will not violate intelectual property rights or behave in any other inappriopriate or illegal way</li>
		<li>You understand that human behaviour is fundamentally uncontrollable and people you may encounter on Tailla may not behave appriopriately</li>
		<li>You will disconnect if anyone will make you feel uncomfortable</li>
		<li>You may be denied access to Tailla for inappropriate behaviour or for any other reason</li>
		<li>You are using Tailla at your own risk</li>
	</ul>
</div>
{{end}}
